<div class="mt-large">
    <div class="is-size-3-desktop is-size-4-touch mb-medium mt-large">onde artistas vestem</div>
    <div class="is-size-5-desktop is-size-6-touch">
        <div class="mb-small">produtos em alta</div>
    </div>
    <PlazaWeb.ProductComponent.product products={@products}></PlazaWeb.ProductComponent.product>
</div>
