<div class="columns is-multiline is-size-8">
    <%= for product <- @products do %>
    <div class="column is-one-fourth is-product-1 has-font-3" style="margin-right: 1rem;">
        <div style="position: absolute; bottom: 0px;"><%= product.name %></div>
        <div class="pr-xsmall" style="position: absolute; bottom: 0px; right: 0px;">R$ <%= product.price %></div>
    </div>
    <% end %>
</div>
